.footer {
    background: rgba(27, 26, 26, 0.61);
    padding-top: 50px;
    padding-bottom: 5px;
    text-align: center;
}
/* .footer__collaboration {
    margin-bottom: 0;
    /* padding: 10px; */
    /* color: tomato; */ */
/* 
} */