html {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
@media screen and (min-width: 768px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
* {box-sizing: border-box;}
@media screen and (max-width:768px) {
    .col-2, .col-8 {width: 100%;}
}
header {
    background-color: grey;
    height: 100px;
}
main {
    height: 500px;
}
.left, .content, .right {
    height: 500px;
    float: left;
}
.left {
    background-color: thistle;
}
.content {
    background-color: rgb(122, 92, 47);
}
.right {
    background-color: rgb(15, 122, 51);
}
.footer {
    background-color: violet;
}
/* li {list-style-type: none;} */
li {display: inline-block;}
a {display: block;
text-align: center;
}
.right div {
    width: 70%;
    height: 100px;
    margin: 20px;
    background-color: thistle;
    text-align: center;
    padding: 20%;
}
