*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

/* banner */
#banner {
    background: linear-gradient(rgba(0,0,0,0.5),#009688), url("images/banner.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo {
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.banner-text {
    color: white;
    text-align: center;
    padding-top: 180px;
}

.banner-text h1 {
    font-size: 130px;
}

.banner-text p {
    font-size: 20px;
    font-style: italic;
}

.banner-btn {
    margin: 70px auto 0;
}

.banner-text a {
    position: relative;
    width: 150px;
    border: .5px solid white;
    padding: 12px;
    margin: 0 10px;
    color: white;
    display: inline-block;
    text-decoration: none;
    z-index: 1;
    transition: color 0.5s;
}

.banner-btn a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    transition:0.5s;
    z-index: -1;
}

.banner-btn a:hover span{
    width: 100%;
}

.banner-btn a:hover {
    color: black;
}

/* sideNav */
#menuBtn {
    background-color: #009688;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    right: 30px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img {
    width: 50%;
    margin: 25%;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -250px;
    background-color: #009688;
    z-index: 2;
    transition: 0.5s;
}

nav ul li {
    list-style-type: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

/* feature */
#feature {
    padding: 70px;

}

.title-text {
    text-align: center;
    padding-bottom: 70px;;
}
.title-text p {
    font-size: 20px;
    color: #019578;
    position: relative;
    z-index: 1;
    margin: auto;
    display: inline-block;
}
/* hình chiếc lá phía sau title-text */
.title-text p::after {
    content: '';
    width: 50px;
    height: 35px;
    position: absolute;
    top: -20px;
    left: 0;
    background:linear-gradient(#019578,#fff);
    margin: auto;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    transform: rotate(10deg);
    z-index: -1;
}  

.feature-box {
    display: flex;
    width: 80%;
    /* text-align: center; */
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.features {
    flex-basis: 50%;
}

.feature-img {
    flex-basis: 50%;
    text-align: center;
}

.feature-img img {
    width: 70%;
    border-radius: 10px;
}

.features h1 {
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}

.features-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.feature-text {
    padding: 0 20px;
}

.feature-icon .bi {
    width: 50px;
    height: 50px;
    color: #009688;
    font-size: 30px;
}



/* service */
#service {
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.single-service img {
    width: 100%;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay {
    opacity: 1;
}
.service-desc {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: -30%;
    opacity: 0;
    transform: translate(50%); 
    transition: 1s;
}
hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p {
    font-size: 14px;
}
.single-service:hover .service-desc {
    bottom: 40%;
    opacity: 1;
}
/* testimonal */
#testimonial {
    width: 100%;
    padding: 70px 0;
}
.testimonial-row {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonal-col {
    flex-basis: 28%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform .5s;
}

.testimonal-col p {
    font-size: 14px;
}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-info .bi {
    margin-left: 10px;
    font-size: 20px;
    color: #009688;
}

.user-info small {
    color: #009688;
}

.testimonal-col:hover {
    transform: translateY(7px);
}

/* footer */

#footer {
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}

.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left, .footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin: 10px 0;
}

.footer-row p {
    line-height: 35px;
}

.footer-img {
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}

.social-links {
    text-align: center;
}

.social-links .bi {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    margin: 40px 5px 0;
    content: #009688;
    cursor: pointer;
    transition: .5s;
}

.social-links .bi:hover {
    color:#ff9900;
}

.social-links p {
    font-size: 12px;
    margin-top: 20px;
}

.footer-left .bi, .footer-right .bi {
    font-size: 20px;
    color: #009688;
    margin: 10px;
}